@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div class="container">
        <img id="logo" src="~/images/logo.svg">
        <button class="button" type="submit" name="provider" value="Google"></button>
    </div>
</form>