<link rel="stylesheet" type="text/css" href="~/css/login.css" />
<link rel="stylesheet" href="~/css/normalize.css">
<form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div class="container">
        <img id="logo" src="logo.svg">
        <div class="button"></div>
    </div>
</form>