@model ucsdscheduleme.Models.ScheduleViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-container">
    <div class="middle">
        <div class="calendar">
            <div class="schedule">
                <div id="monday" class="schedule-group">
                    <div class="schedule-header"><span>Monday</span></div>
                    <div class="event">
                        <div class="edit-button"><span class="edit-span">Change</span><i class="fa fa-cog" aria-hidden="true"></i></div>
                        <div class="event-header">
                            <div class="class-icon" id="lecture"><div class="class-icon-label">LE</div></div>
                            <div class="event-info">
                                <span>CSE 110</span>
                                <span>Gary Gillespie</span>
                                <span>8:00am - 9:20am</span>
                                <span>A00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tuesday" class="schedule-group">
                    <div class="schedule-header"><span>Tuesday</span></div>
                    <div class="event">
                        <div class="edit-button"><span class="edit-span">Change</span><i class="fa fa-cog" aria-hidden="true"></i></div>
                        <div class="event-header">
                            <div class="class-icon" id="lab"><div class="class-icon-label">LA</div></div>
                            <div class="event-info">
                                <span>CSE 110</span>
                                <span>Gary Gillespie</span>
                                <span>8:00am - 9:20am</span>
                                <span>A00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="wednesday" class="schedule-group">
                    <div class="schedule-header"><span>Wednesday</span></div>
                    <div class="event">
                        <div class="edit-button"><span class="edit-span">Change</span><i class="fa fa-cog" aria-hidden="true"></i></div>
                        <div class="event-header">
                            <div class="class-icon" id="discussion"><div class="class-icon-label">DI</div></div>
                            <div class="event-info">
                                <span>CSE 110</span>
                                <span>Gary Gillespie</span>
                                <span>8:00am - 9:20am</span>
                                <span>A00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="thursday" class="schedule-group">
                    <div class="schedule-header"><span>Thursday</span></div>
                    <div class="event">
                        <div class="edit-button"><span class="edit-span">Change</span><i class="fa fa-cog" aria-hidden="true"></i></div>
                        <div class="event-header">
                            <div class="class-icon" id="lab"><div class="class-icon-label">LA</div></div>
                            <div class="event-info">
                                <span>CSE 110</span>
                                <span>Gary Gillespie</span>
                                <span>8:00am - 9:20am</span>
                                <span>A00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="friday" class="schedule-group">
                    <div class="schedule-header"><span>Friday</span></div>
                    <div class="event">
                        <div class="edit-button"><span >Change</span><i class="fa fa-cog" aria-hidden="true"></i></div>
                        <div class="event-header">
                            <div class="class-icon" id="lab"><div class="class-icon-label">LA</div></div>
                            <div class="event-info">
                                <span>CSE 110</span>
                                <span>Gary Gillespie</span>
                                <span>8:00am - 9:20am</span>
                                <span>A00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="time">
                <div><span class="time-block">7:30<span class="am-pm">am</span></span></div>
                <div><span class="time-block">8:00<span class="am-pm">am</span></span></div>
                <div><span class="time-block">8:30<span class="am-pm">am</span></span></div>
                <div><span class="time-block">9:00<span class="am-pm">am</span></span></div>
                <div><span class="time-block">9:30<span class="am-pm">am</span></span></div>
                <div><span class="time-block">10:00<span class="am-pm">am</span></span></div>
                <div><span class="time-block">10:30<span class="am-pm">am</span></span></div>
                <div><span class="time-block">11:00<span class="am-pm">am</span></span></div>
                <div><span class="time-block">11:30<span class="am-pm">am</span></span></div>
                <div><span class="time-block">12:00<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">12:30<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">1:00<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">1:30<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">2:00<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">2:30<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">3:00<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">3:30<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">4:00<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">4:30<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">5:00<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">5:30<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">6:00<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">6:30<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">7:00<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">7:30<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">8:00<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">8:30<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">9:00<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">9:30<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">10:00<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">10:30<span class="am-pm">pm</span></span></div>
                <div><span class="time-block">11:00<span class="am-pm">pm</span></span></div>
            </div>
        </div>

        <table class="bottom" id="examdata">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody id="onetime">
                <tr>
                    <td>CSE 100</td>
                    <td>Final</td>
                    <td>Monday 11/17</td>
                    <td>8:00AM-12:00PM</td>
                    <td>WLH 2201</td>
                </tr>
                <tr>
                    <td>CSE 100</td>
                    <td>Final</td>
                    <td>Monday 11/17</td>
                    <td>8:00AM-12:00PM</td>
                    <td>WLH 2201</td>
                </tr>
                <tr>
                    <td>CSE 100</td>
                    <td>Final</td>
                    <td>Monday 11/17</td>
                    <td>8:00AM-12:00PM</td>
                    <td>WLH 2201</td>
                </tr>
                <tr>
                    <td>CSE 100</td>
                    <td>Final</td>
                    <td>Monday 11/17</td>
                    <td>8:00AM-12:00PM</td>
                    <td>WLH 2201</td>
                </tr>
                <tr>
                    <td>CSE 100</td>
                    <td>Final</td>
                    <td>Monday 11/17</td>
                    <td>8:00AM-12:00PM</td>
                    <td>WLH 2201</td>
                </tr>
                <tr>
                    <td>CSE 100</td>
                    <td>Final</td>
                    <td>Monday 11/17</td>
                    <td>8:00AM-12:00PM</td>
                    <td>WLH 2201</td>
                </tr>
                <tr>
                    <td>CSE 100</td>
                    <td>Final</td>
                    <td>Monday 11/17</td>
                    <td>8:00AM-12:00PM</td>
                    <td>WLH 2201</td>
                </tr>
                <tr>
                    <td>CSE 100</td>
                    <td>Final</td>
                    <td>Monday 11/17</td>
                    <td>8:00AM-12:00PM</td>
                    <td>WLH 2201</td>
                </tr>
                <tr>
                    <td>CSE 100</td>
                    <td>Final</td>
                    <td>Monday 11/17</td>
                    <td>8:00AM-12:00PM</td>
                    <td>WLH 2201</td>
                </tr>
                <tr>
                    <td>CSE 100</td>
                    <td>Final</td>
                    <td>Monday 11/17</td>
                    <td>8:00AM-12:00PM</td>
                    <td>WLH 2201</td>
                </tr>
                <tr>
                    <td>CSE 100</td>
                    <td>Final</td>
                    <td>Monday 11/17</td>
                    <td>8:00AM-12:00PM</td>
                    <td>WLH 2201</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="side left-bar">
        <div>
            <div id="logo">
                <span>ucsdschedule.me</span>
            </div>
        </div>

        <div class="searchbar-container">
            <div class="searchbar">
                <input type="text" id="search" placeholder="Search classes" name="q" />
                <button type="submit" value="text" class="search-icon"><i class="fa fa-search"></i></button>
                <div class="search-result" id="courseItems">
                </div>
            </div>
        </div>
        <div class="class-list" id="class-list">
        </div>
        <div class="generate-schedule-container">
            <select id="optimization" style="width: 100%;">
                <option value="-1" selected="selected">Select Schedule Preference</option>
                <option value="0">Most Gaps</option>
                <option value="1">Fewest Gaps</option>
                <option value="2">Most Days</option>
                <option value="3">Fewest Days</option>
                <option value="4">Highest GPA</option>
                <option value="5">Highest Rate My Professor</option>
                <option value="6">Earliest End</option>
                <option value="7">Latest Start</option>
            </select>
            <div class="generate-schedule-button" onclick="generateSchedule()"></div>
        </div>
    </div>

    <div class="side right-bar">
        <div id="overall-stat">
            <table id="tabledata">
                <tr>
                    <td>Overall Workload</td>
                    <td id="overall-workload">29.9 Hr/wk</td>
                </tr>
                <tr> 
                    <td>Overall Avg. GPA Expected</td>
                    <td id="gpa-expected">B+ (3.34)</td>
                </tr>
                <tr>
                    <td>Overall Avg. Received</td>
                    <td id="gpa-received">B- (2.99)</td>
                </tr>
            </table>
        </div>
        <div class="course-stat-container" id="course-stat-container">
            <div class="course-stat" id="course1">
                <div class="course-name">CSE 110</div>
                <div class="professor-name">Gary Gillespie</div>
                <div class="course-info">Avg. Workload: 69 Hrs/Wk </div>
                <div class="course-info">Avg. Grade Expected: F- (0.00)</div>
                <div class="course-info">Avg. Grade Received: F- (0.00)</div>
            </div>
            <div class="course-stat" id="course2">
                <div class="course-name">CSE 110</div>
                <div class="professor-name">Professor Name</div>
                <div class="course-info">Avg. Workload: 69 Hrs/Wk </div>
                <div class="course-info">Avg. Grade Expected: F- (0.00)</div>
                <div class="course-info">Avg. Grade Received: F- (0.00)</div>
            </div>
            <div class="course-stat" id="course3">
                <div class="course-name">CSE 110</div>
                <div class="professor-name">Gary Gillespie</div>
                <div class="course-info">Avg. Workload: 69 Hrs/Wk </div>
                <div class="course-info">Avg. Grade Expected: F- (0.00)</div>
                <div class="course-info">Avg. Grade Received: F- (0.00)</div>
            </div>
            <div class="course-stat" id="course3">
                <div class="course-name">CSE 110</div>
                <div class="professor-name">Gary Gillespie</div>
                <div class="course-info">Avg. Workload: 69 Hrs/Wk </div>
                <div class="course-info">Avg. Grade Expected: F- (0.00)</div>
                <div class="course-info">Avg. Grade Received: F- (0.00)</div>
            </div>
            <div class="course-stat" id="course3">
                <div class="course-name">CSE 110</div>
                <div class="professor-name">Gary Gillespie</div>
                <div class="course-info">Avg. Workload: 69 Hrs/Wk </div>
                <div class="course-info">Avg. Grade Expected: F- (0.00)</div>
                <div class="course-info">Avg. Grade Received: F- (0.00)</div>
            </div>
        </div>
        <div class="logout-button"></div>
    </div>
</div>

<script>
    var myApp = {
        urls: {
            generateSchedule: "@Url.Action("GenerateSchedule","Home")",
            typeAhead: "@Url.Action("TypeAhead", "Home")"
        },
	    coursesToSchedule: [],
        courses: []
    };

    var isEditing = false;

    (function () {
    	var search = document.getElementById("search");
        search.addEventListener("input", typeAhead);

	
        var input = document.getElementById("search");
        var dropdown = document.getElementById("courseItems");

	
        input.addEventListener("focusin", fin);
        input.addEventListener("focusout", fout);

        dropdown.addEventListener("focusin", fin);
	    dropdown.addEventListener("focusout", fout);
	
	    var isHover;
        dropdown.onmouseover = function() {
            isHover = true;
	    }

	    dropdown.onmouseout = function() {
	    	isHover = false;
	    }

        function fin() {
            dropdown.style.display = "block";
        }

        function fout() {
	        
	        if(!isHover) {
	        	dropdown.style.display = "none";
	        }            	
        }

	    document.addEventListener('click',function(e) {
            if (e.target) {
                if (e.target.classList.contains("courseItem")) {
                    //call addList
                    addList(e.target);
                } else if (e.target.classList.contains("fa-window-close")) {
                    removeCourse(e);
                }
            }

	        // clicked on a calendar event
	        var outerDiv = findOuterDiv(e.target, 'event'); 
	        if(e.target && outerDiv) {
	        	// currently editing AND event is activated
	        	if(isEditing && outerDiv.classList.contains('event-activated')) {
        			updateEvent(outerDiv);
        		}
	        }

	        // clicked on change button
	        if(e.target && (e.target.classList.contains('fa-cog') || e.target.classList.contains('edit-span'))) {
	        	// only allow changes if currently not editing
	        	if(!isEditing) {
	        		changeSchedule(outerDiv);
	        		isEditing = true;
	        		hideEditButtons();
	        	}
	        }

	        if(isEditing) {
	        	var activatedEvents = document.getElementsByClassName('event-activated');
	        	for(var i = 0; i < activatedEvents.length; i++) {
	        		var activatedEvent = activatedEvents.item(i);
		        	activatedEvent.addEventListener('mouseenter', function(e) {
		        		var hoverEvent = findOuterDiv(e.target, 'event');
				    	if(e.target && hoverEvent) {
				        	// currently editing AND event is activated
				        	if(isEditing && hoverEvent.classList.contains('event-activated')) {
				        		activateSelectedBasesAndSections(hoverEvent);
			        		}
				        }
				    });

				    activatedEvent.addEventListener('mouseleave', function(e) {
				    	if(e.target && findOuterDiv(e.target, 'event')) {
				        	// currently editing AND event is activated
				        	var hoverEvent = findOuterDiv(e.target, 'event');
				        	if(isEditing && hoverEvent.classList.contains('event-activated')) {
				        		reactivateAllBasesAndAllSections(hoverEvent);
			        		}
				    	}
				    });
		        }
		    }
	        
        });
    })();
</script>