@model ucsdscheduleme.Models.ScheduleViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-container">
    <div class="middle">
        <div class="calendar">
            <div class="schedule">
                <div id="monday" class="schedule-group">
                    <div class="schedule-header"><span>Monday</span></div>
                    <div class="event">
                        <div class="event-header">
                            <div class="class-icon" id="lecture"><div class="class-icon-label">LE</div></div>
                            <div class="event-info">
                                <span>CSE 110</span>
                                <span>Gary Gillespie</span>
                                <span>8:00am - 9:20am</span>
                                <span>A00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="schedule-group">
                    <div class="schedule-header"><span>Tuesday</span></div>
                    <div class="event">
                        <div class="event-header">
                            <div class="class-icon" id="lab"><div class="class-icon-label">LA</div></div>
                            <div class="event-info">
                                <span>CSE 110</span>
                                <span>Gary Gillespie</span>
                                <span>8:00am - 9:20am</span>
                                <span>A00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="schedule-group">
                    <div class="schedule-header"><span>Wednesday</span></div>
                    <div class="event">
                        <div class="event-header">
                            <div class="class-icon" id="discussion"><div class="class-icon-label">DI</div></div>
                            <div class="event-info">
                                <span>CSE 110</span>
                                <span>Gary Gillespie</span>
                                <span>8:00am - 9:20am</span>
                                <span>A00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="schedule-group">
                    <div class="schedule-header"><span>Thursday</span></div>
                </div>
                <div class="schedule-group">
                    <div class="schedule-header"><span>Friday</span></div>
                </div>
            </div>
            <div class="time">
                <div>
                    <div><span class="time-block">7:30<span class="am-pm">am</span></span></div>
                    <div><span class="time-block">8:00<span class="am-pm">am</span></span></div>
                    <div><span class="time-block">8:30<span class="am-pm">am</span></span></div>
                    <div><span class="time-block">9:00<span class="am-pm">am</span></span></div>
                    <div><span class="time-block">9:30<span class="am-pm">am</span></span></div>
                    <div><span class="time-block">10:00<span class="am-pm">am</span></span></div>
                    <div><span class="time-block">10:30<span class="am-pm">am</span></span></div>
                    <div><span class="time-block">11:00<span class="am-pm">am</span></span></div>
                    <div><span class="time-block">11:30<span class="am-pm">am</span></span></div>
                    <div><span class="time-block">12:00<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">12:30<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">1:00<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">1:30<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">2:00<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">2:30<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">3:00<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">3:30<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">4:00<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">4:30<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">5:00<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">5:30<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">6:00<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">6:30<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">7:00<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">7:30<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">8:00<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">8:30<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">9:00<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">9:30<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">10:00<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">10:30<span class="am-pm">pm</span></span></div>
                    <div><span class="time-block">11:00<span class="am-pm">pm</span></span></div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <table id="examdata">
                @*foreach (var examData in Model.Finals)
                    {
                        <tr>
                            course name, final day, final time and final location
                            <td>@examData.CourseAbbreviation</td>
                            <td>@examData.Type</td>
                            <td>@examData.DateAndTime</td>
                            <td>@examData.Location</td>
                        </tr>
                    }*@
                <tr class="final-row">
                    <td>CSE 110</td>
                    <td>Final</td>
                    <td>Monday 11/17 8:00AM-12:00PM</td>
                    <td>WLH 2201</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="side left-bar">
        <div>
            <div id="logo">
                <img id="logo-image" alt="ucsdschedule.me" src="~/images/logo.svg">
            </div>
        </div>

        <div class="searchbar-container">
            <div class="searchbar">
                <input type="text" id="search" placeholder="Search classes" name="q" />
                <button type="submit" value="text" class="search-icon"><i class="fa fa-search"></i></button>
                <div class="search-result" id="courseItems">
                    <div class="courseItem">CSE 100</div>
                    <div class="courseItem">CSE 101</div>
                    <div class="courseItem">CSE 110</div>
                </div>
            </div>
        </div>
        <div class="class-list">
            <div class="class">
                <span>CSE 100</span>
                <div class="class-icon"><i class="fa fa-window-close" aria-hidden="true"></i></div>
            </div>
            <div class="class">
                <span>CSE 101</span>
                <div class="class-icon"><i class="fa fa-window-close" aria-hidden="true"></i></div>
            </div>
            <div class="class">
                <span>CSE 110</span>
                <div class="class-icon"><i class="fa fa-window-close" aria-hidden="true"></i></div>
            </div>
            <div class="generate-schedule-container">
                <div class="generate-schedule-button">
                </div>
            </div>
        </div>
    </div>

    <div class="side right-bar">
        <div id="averages">
            <div id="overall-stat">
                <table id="tabledata">
                    <tr>
                        <td>Overall Avg. Workload</td>
                        <td>29.9 Hr/wk</td>
                    </tr>
                    <tr>
                        <td>Overall Avg. GPA Expected</td>
                        <td>B+ (3.34)</td>
                    </tr>
                    <tr>
                        <td>Overall Avg. Recieved</td>
                        <td>B- (2.99)</td>
                    </tr>
                </table>
            </div>
            <div class="course-stat" id="course1">
                <div class="course-name">CSE 110</div>
                <div class="professor-name">Gary Gillespie</div>
                <div class="course-info">Avg. Workload: 69 Hrs/Wk </div>
                <div class="course-info">Avg. Grade Expected: F- (0.00)</div>
                <div class="course-info">Avg. Grade Received: F- (0.00)</div>
            </div>
            <div class="course-stat" id="course2">
                <div class="course-name">CSE 110</div>
                <div class="professor-name">Professor Name</div>
                <div class="course-info">Avg. Workload: 69 Hrs/Wk </div>
                <div class="course-info">Avg. Grade Expected: F- (0.00)</div>
                <div class="course-info">Avg. Grade Received: F- (0.00)</div>
            </div>
            <div class="course-stat" id="course3">
                <div class="course-name">CSE 110</div>
                <div class="professor-name">Gary Gillespie</div>
                <div class="course-info">Avg. Workload: 69 Hrs/Wk </div>
                <div class="course-info">Avg. Grade Expected: F- (0.00)</div>
                <div class="course-info">Avg. Grade Received: F- (0.00)</div>
            </div>
            <div class="course-stat" id="course3">
                <div class="course-name">CSE 110</div>
                <div class="professor-name">Gary Gillespie</div>
                <div class="course-info">Avg. Workload: 69 Hrs/Wk </div>
                <div class="course-info">Avg. Grade Expected: F- (0.00)</div>
                <div class="course-info">Avg. Grade Received: F- (0.00)</div>
            </div>
            <div class="course-stat" id="course3">
                <div class="course-name">CSE 110</div>
                <div class="professor-name">Gary Gillespie</div>
                <div class="course-info">Avg. Workload: 69 Hrs/Wk </div>
                <div class="course-info">Avg. Grade Expected: F- (0.00)</div>
                <div class="course-info">Avg. Grade Received: F- (0.00)</div>
            </div>
        </div>
    </div>
</div>
