<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ucsdscheduleme</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/normalize.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/normalize.css">
    </environment>
</head>
<body>
    

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
	@RenderBody()
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>
