@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans');

$font: 'Open Sans', sans-serif;
$primary-color: #203E5F;
$secondary-color: #FFCC03;
$off-white: #EDEDED;
$off-black: #151515;
$off-red: #F22613;
$white-bg: #EFEFEF;
$text-white: #FEFEFE;
$gray: #E9E9E9;
$border-color: #E0E0E0;
$lecture-color: #FF9703;
$discussion-color: #188CF0;
$lab-color: #CC0000;
$columns-number: 5;
$row-height: 50px;

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin boxshadow() {
    box-shadow: 0 0 4px rgba(0,0,0, 0.25);
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: $font;
    background-color: $off-white;
}

ul {
    list-style: none;
}

.flex-container {
    @include flexbox();
    flex-flow: row wrap;
    height: 100%;

    > * {
        @include flex(1 100%);
    }
}

.middle {
    height: calc(100% - 15px);
    margin-top: 15px;
}

#logo {
    text-align: center;
    margin-bottom: 15px;
}

.calendar {
    @include boxshadow();
    border-top: 4px solid $secondary-color;
    display: block;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 75%;
    background-color: $primary-color;
}

/* for timebar */
.time {
    position: absolute;
    height: 100%;
    width: 100%;

    div {
        position: relative;
        height: $row-height;
        border-bottom: 1px dashed $border-color;
    }
}

.time-block {
    position: absolute;
    background-color: $primary-color;
    color: $text-white;
    padding-left: 5px;
    width: 4.3em;
    line-height: 1.4em;
    bottom: calc(1.4em / 2 * -1);
}

/*rest of schedule*/
.schedule {
    position: relative;
    float: left;
    display: flex;
    @include flex(1);
    margin-left: 10px;
    width: 100%;

    .schedule-group {
        @include flex(1);
        background-color: $text-white;
        height: 1675px;
        float: left;
        position: relative;
        border: 1px dashed $border-color;
        border-right: none;
        border-top: none;

        &:first-of-type {
            margin-left: 4em;
        }
        /* fix the Friday border due to overflow scroll */
        &:last-of-type {
            margin-right: 10px;
        }
    }

    .schedule-header {
        background-color: $primary-color;
        display: table;
        height: $row-height;
        width: calc(100% + 1px);
        position: relative;

        &::after {
            content: "";
            height: 100%;
            width: 1px;
            background-color: $primary-color;
            position: absolute;
            left: -1px;
            top: 0;
        }

        > span {
            color: $text-white;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            line-height: 1.2;
            margin-bottom: 0;
            font-weight: bold;
            letter-spacing: 0.1em;
        }
    }
}

.event {
    position: absolute;
    background-color: white;
    width: calc( 100% - 10px );
    /*off-set for very first line @ 7:30am */
    top: 50px;
    height: 100px;
    z-index: 1;
    cursor: pointer;
    @include boxshadow();

    .event-header {
        position: relative;
        width: 100%;
        height: 10%;

        .class-icon {
            vertical-align: middle;
            padding: 5px;
            background-color: black;
        }

        .class-icon-label {
            color: white;
            font-size: 10px;
            font-weight: bold;
            margin-left: 5px;
            line-height: 1.2em;
        }

        .lecture {
            background-color: $lecture-color;
        }

        .lab {
            background-color: $lab-color;
        }

        .discussion {
            background-color: $discussion-color;
        }

        .customevent {
            background-color: #8E44AD;
        }

        .event-info {
            margin-top: 10px;
            position: relative;
            text-align: center;

            span {
                display: block;
                font-size: 10px;
            }
        }
    }
}

.event-activated {
    box-shadow: 0px 0px 10px rgba(0,0,0, 1);
    background-color: #C5EFF7;
    z-index: 2;
}

.event-deactivated {
    opacity: 0.75;
    background-color: rgba(255,0,0,0.2);
}


.bottom-wrapper {
    margin-top: 15px;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
}

.bottom {
    @include boxshadow();
    margin-bottom: 10px;
    font-size: 12px;
    background-color: white;
    border-top: 4px solid $secondary-color;
    border-collapse: collapse;
    width: 100%;
    display: table;

    thead {
        tr {
            background-color: $primary-color;
            width: 100%
        }

        th {
            width: 20%;
            padding-right: 20px;
            color: $text-white;
            font-size: 14px;
            height: 2em;
        }
    }

    tbody {
        overflow-y: scroll;
        width: 100%;
        height: 100px;

        tr {
            td {
                width: 20%;
                border: 1px solid black;
                padding: 10px;
                text-align: center;
                color: black;

                &:last-of-type {
                    border-right: none;
                }
            }
        }
    }
}

.searchbar-container {
    position: relative;

    .searchbar {
        @include boxshadow();
        overflow: hidden;
        white-space: nowrap;

        input#search {
            height: 50px;
            width: calc(100% - 65px);
            border: none;
            font-family: $font;
            color: $off-black;
            background-color: $text-white;
            padding: 0;
            padding-left: 15px;
        }

        .search-icon {
            display: inline-block;
            -o-transition: .2s;
            -ms-transition: .2s;
            -moz-transition: .2s;
            -webkit-transition: .2s;
            transition: .2s;
            position: absolute;
            height: 50px;
            width: 50px;
            border: none;
            background-color: $text-white;
            color: $off-black;
            cursor: pointer;

            &:hover {
                color: $text-white;
                background-color: $secondary-color;
            }
        }

        .search-result {
            box-shadow: 5px 5px 5px rgba(0,0,0,0.2), -5px 5px 5px rgba(0,0,0,0.2);
            border-top: 4px solid $off-white;
            display: none;
            position: absolute;
            background: $text-white;
            width: 100%;
            z-index: 2;

            .courseItem {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: $off-black;
                font-family: $font;

                &:hover {
                    background-color: $secondary-color;
                    color: $text-white;
                }
            }
        }
    }
}

.class {
    border-top: 4px solid $secondary-color;
    @include boxshadow();
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: $primary-color;
    color: $text-white;
    font-family: $font;
    vertical-align: middle;

    .class-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        border: none;
        text-align: center;
        vertical-align: text-bottom;
        font-size: 18.4px;
        line-height: 1em;
        color: $text-white;

        &:hover {
            color: $secondary-color;
        }
    }
}

.custom-event-modal {
    @include boxshadow();
    display: none;
    position: absolute;
    left: 40%;
    top: 25%;
    min-width: 250px;
    min-height: 10px;
    z-index: 9;
    background-color: white;
}

#custom-event-wrapper {
    text-align: center;
    margin: 15px;
}

#custom-event-name-wrapper {
    padding: 10px;
    margin-top: 5px;

    input#custom-event-name {
        font-family: $font;
        color: $off-black;
    }
}

#custom-event-name {
    width: 90%;
    padding: 10px;
}

#custom-event-time-wrapper {
    margin-top: 10px;
    margin-bottom: 20px;

    input {
        font-family: $font;
        color: $off-black;
    }
}

.custom-event-day-input {
    display: inline-block;
}

.custom-event-button {
    display: inline-block;
    width: 100px;
    cursor: pointer;
    @include boxshadow();
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    color: $off-white;
    font-family: $font;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-color: #26A65B;

    &:hover:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255, 0.2);
    }

    &:after {
        color: $off-black;
    }

    &:first-of-type {
        margin-right: 10px;
    }

    &:last-of-type {
        background-color: #EC644B;
    }
}

.button {
    cursor: pointer;
    @include boxshadow();
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: $secondary-color;
    color: $off-black;
    font-family: $font;
    text-align: center;
    vertical-align: middle;
    position: relative;

    &:hover:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255, 0.2);
    }

    &:after {
        color: $off-black;
    }
}

.edit-button {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
    padding: 5px;
    vertical-align: text-bottom;
    color: #666;

    &:hover {
        cursor: pointer;
        color: $off-black;
    }

    span {
        margin-right: 5px;
    }
}

.unlock-button {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 10px;
    padding: 5px;
    vertical-align: text-bottom;
    color: #666;

    &:hover {
        cursor: pointer;
        color: $off-black;
    }

    span {
        margin-right: 5px;
    }
}

.lock-button {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 10px;
    padding: 5px;
    vertical-align: text-bottom;
    color: $off-red;

    &:hover {
        cursor: pointer;
        color: red;
    }

    span {
        margin-right: 5px;
    }
}

.generate-schedule-container {
    position: relative;

    select {
        width: 100%;
        height: 50px;
        margin-top: 15px;
        text-align: center;
    }
}

.generate-schedule-button {
    cursor: pointer;
    @include boxshadow();
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: $secondary-color;
    color: $off-black;
    font-family: $font;
    text-align: center;
    vertical-align: middle;
    position: relative;

    &:hover:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255, 0.2);
    }

    &:after {
        content: "Generate Schedule";
        color: $off-black;
    }
}

.logout-button {
    cursor: pointer;
    @include boxshadow();
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: $secondary-color;
    color: $off-black;
    font-family: $font;
    text-align: center;
    vertical-align: middle;
    position: relative;

    &:hover:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255, 0.2);
    }

    &:after {
        content: "Logout";
        color: $off-black;
    }
}

.am-pm {
    font-size: 10px;
    color: $off-white;
    line-height: 1em;
    display: inline-block;
    padding-left: 0.15em;
}

@media all and (min-width: 600px) {
    .side {
        @include flex (1);
        width: 100%;
    }
}

@media all and (min-width: 800px) {
    .middle {
        @include flex(3 0px);
        @include order(2);
    }

    .left-bar {
        @include order(1);
        padding: 15px;
    }

    .right-bar {
        @include order(3);
        padding: 15px;
    }
}

/* For the right side bar */
#overall-stat {
    @include boxshadow();
    position: relative;
    text-align: center;
    margin: auto;
    background-color: $primary-color;
    border-top: 4px solid $secondary-color;
}

#tabledata {
    font-size: 12px;
    margin: 0;
    width: 100%;
    border: none;
    outline: none;
    border-collapse: collapse;
    margin-bottom: 15px;

    tr {
        &:last-of-type {
            border-bottom: none;
        }

        td {
            text-align: left;
            color: $text-white;
            padding: 15px 20px;
            border: none;
            outline: none;
            margin: 0;

            &:first-of-type {
                border-bottom: 1px solid rgba(255,255,255,0.33);
            }

            &:last-of-type {
                border-bottom: rgba(0,0,0,0.15) 1px solid;
                background-color: $text-white;
                text-align: center;
                color: $off-black;
            }
        }
    }
}

.course-stat-container {
    overflow-y: scroll;
    margin-top: 15px;
    height: 61%;
}

.course-stat {
    background-color: $text-white;
    border-top: 4px solid $secondary-color;
    @include boxshadow();
    margin-bottom: 15px;

    &:last-of-type {
        margin: 0;
    }
}

.course-name {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    background-color: $primary-color;
    color: $off-white;
}

.professor-name {
    text-align: center;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 5px;
    color: $off-black;
}

.course-info {
    font-size: 11px;
    line-height: 1.4em;
    text-align: center;
    padding: 5px;
    color: $off-black;

    &:last-of-type {
        padding-bottom: 10px;
    }
}

.alert {
    padding: 15px;
    background-color: #f03434;
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    transition: 0.3s;
    margin-left: 15px;
    font-size: 1.5em;
    line-height: 20px;
    color: $off-white;
    font-weight: bold;
    float: right;
    cursor: pointer;

    &:hover {
        color: $off-black;
    }
}
